/* --------------------------------
    Main styles
        1. Basic tags
        2. Typography
        3. Images & SVG
        4. Links & Buttons
        5. Others
 -------------------------------- */

/*---------- 1. Basic tags ----------*/
body {
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    max-width: 160rem;


    font-size: 16px;
    font-weight: 400;

    color: black;
    background-color: #FAFAFA;

    scroll-behavior: smooth;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

main {
    margin: 0;
    padding: 0;
}

/*---------- 2. Typography ----------*/
h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-secondary;
    font-size: 1.15rem;
    font-weight: 600;
}

p, span {
    font-family: $font-family-primary;
    font-size: 1rem;
    font-weight: 400;
}

a, button {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

/*---------- 3. Images & SVG ----------*/
img, video {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

svg {
    width: 1rem;
    height: auto;
}

/*---------- 4. Links & Buttons ----------*/
a, button {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    border: none;
    cursor: pointer;
    box-shadow: none;
    text-decoration: none;
    text-underline-offset: 4px;
    color: #27272A;
    background-color: transparent;
    border-radius: 0.625rem;
    border: $border-transparent;
    transition: all 0.3s ease;

    svg {
        width: 0.875rem;
        height: auto;
    }

    &:hover {
        color: $black;
        text-decoration: none;
        background-color: #F4F4F4;
    }
}

/*---------- 4.a) Links ----------*/
.simple-link {
    padding: 0;
    font-weight: 500;
    color: #27272AFF;
    text-decoration-line: underline;
    text-decoration-color: #27272A33;

    &:hover {
        padding: 0;
        background: transparent;
        text-decoration-line: underline;
        text-decoration-color: $black;
    }
}

.link-primary {
    padding: 1rem 1.5rem;
    color: $white;
    background-color: #7F56D9;
    border: $border-link;
}

.link-secondary {
    padding: 1rem 1.5rem;
    color: $blue-dark;
    background-color: $white;
    border: $border-link;
}

/*---------- 4.b) Buttons ----------*/
.button-primary {
    padding: 1rem 1.5rem;
    color: $white;
    background-color: $blue;
}

.button-secondary {
    padding: 1rem 1.5rem;
    color: $gray;
    background-color: $white;
}

/*---------- 5. Others ----------*/
.invisible {
    opacity: 0;
    visibility: hidden; // Hidden an element visually only
}

.rotate-180 {
    transform: rotate(180deg); // Rotate an element to 180deg / mirror effect
}

.divider {
    height: 1px;
    border: none;
    background: $divider-1px; // Divider line -> #27272A26
}
