/* --------------------------------
    Variables :
    - Breakpoints
    - Font families
    - Colors
    - Borders
    - Dividers
    - Shadows
 -------------------------------- */

/*--------- Breakpoints --------- */
$bp-xxs: 20rem; // 320px - Mobile devices (iPhone SE)
$bp-xs: 24.375rem; // 390px - Mobile devices (iPhone 6, 7, 8, X, 11 Pro, 12 Mini, etc.)
$bp-s: 26.75rem; // 428px - Mobile devices (iPhone Plus, Pro Max, 14 Plus, etc.)
$bp-m: 48rem; // 768px - Tablets (portrait)
$bp-ml: 64rem; // 1024px - Tablets (landscape) / small laptops
$bp-l: 80rem; // 1280px - Desktops / large tablets
$bp-xl: 90rem; // 1440px - Large desktops
$bp-xxl: 120rem; // 1920px - Extra large desktops / wide screens
$bp-xxxl: 160rem; // 2560px - Ultra wide screens

// iPhone (landscape)
@media screen and (min-device-width: 568px) and (max-device-width: 926px) and (orientation: landscape) {
    body {
        background-color: #fff;
    }
}

/*---------- Font families ----------- */
$font-family-primary: -apple-system, "Segoe UI", "Helvetica Neue", "Arial", "sans-serif";
$font-family-secondary: "Poppins", sans-serif;

/*----------- Colors -----------*/

// A. Basics
$white: #FFFFFF;
$black: #000000;
$transparent: transparent;

// B.States
$red: #EF4444FF;
$gray: #a69494;
$green: #3a8562;
$blue: #6386E3;
$blue-save: #6C8DE4;
$blue-dark: #3F4353;


