input {
    margin: 0;
    padding: 0.75rem;
    display: block;
    width: calc(100% - 1.55rem);
    font-size: 0.94rem;
    font-weight: 400;
    color: #4B5563;
    border: $border;
    border-radius: 0.35rem;
}

input[type="checkbox"] {
    display: inline-block;
    width: 0.875rem;
    height: 0.875rem;
}

.field {
    margin: 0;
    padding: 0;
    max-width: $bp-xs;

    &__label {
        margin-bottom: 0.5rem;
        padding-left: 0.5rem;
        display: block;
        font-size: 1rem;
        font-weight: 600;
        color: #111827;
    }

    &__password {
        position: relative;

        svg {
            position: absolute;
            top: -1.875rem;
            right: 0.675rem;
        }
    }
}
